services:
  web:
    build:
      context: ../../web
      dockerfile: ../infra/docker/Dockerfile.web
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api:8000
    depends_on:
      api:
        condition: service_started

  api:
    build:
      context: ../../api
      dockerfile: ../infra/docker/Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      - ENV=development
